<style>
	.article-listing * {
		display: inline-block;
		margin-top: 12px;
	}
	.article-listing-header * {
		text-decoration: underline;
	}
	#rc_upper {
		z-index: 0;
	}

</style>



<!--Include Styles-->
<link rel="stylesheet" href="css/index.css">

<!--Heading-->
<div class="row" style="margin-bottom: 20px;">
	<div class="col-md-10 col-md-offset-1" id="rc-header">
		<h2 style="text-align:center;">Research Center</h2>
	</div>

		<div class="col-md-10 col-md-offset-1"><a href="/map"><button class="btn btn-primary">Go to Agency Links Map</button></a></div>
	
	<div class="col-md-4 col-md-offset-4" id="rc_upper">
		<form action="/under_construction" method="get">
			<div class="input-group">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		      <input type="text" class="form-control" name="search_key" placeholder="Search for..." aria-label="Search for..." />
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="submit" >Search</button>
		      </span>
		    </div>
		</form>
	</div>
</div>

<!--Service Listing-->
<div class="row">
	<div class="col-md-10 col-md-offset-1 article-listing-header article-listing">
		<div class="col-md-3 text-center"><h4>Title</h4></div>
        <div class="col-md-4 text-center"><h4>Summary</h4></div>
        <div class="col-md-3 text-center"><h4>Link</h4></div>
        <div class="col-md-2 text-center"><h4>Tags</h4></div>
	</div>
	<% @articles.each do |article| %>
		<div class="col-md-10 col-md-offset-1 article-listing">
			<div class="col-md-3"><h4><%= article.title %></h4></div>
        	<div class="col-md-4"><p><%= article.summary %></p></div>
        	<div class="col-md-3 text-center"><p><a href=<%=article.link%>><%= article.link %></a></p></div>
        	<div class="col-md-2 text-center"><p><%= article.tag_list %></p></div>
		</div>
	<% end %>
</div>
